.Dashboard-Container{
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 3fr 2fr;
    grid-gap: 10px;
}

.Score-Graph-Representation, .Score-Text-Representation, .Evaluation-Modal{
    display: flex;
    justify-content: center;
    align-items: center;
}