*{
  margin: 0px;
  padding: 0px;
}

/* Font Family */
body {
  font-family: 'Arial', sans-serif;
}

h1, h2, h3 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Font Sizes */
body {
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

/* Additional Styles
a {
  color: #007bff; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

Add more styles as needed */
